* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 1px;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	min-width: 100vw;
	font-family: 'Lexend Deca', sans-serif;
	font-weight: 300;
}

.card {
	display: flex;
	width: 1440rem;
	height: 720rem;
	color: white;
	border-radius: 14rem;
	overflow: hidden;

	&__first {
		background-color: hsl(31, 77%, 52%);

		&-btn {
			&-text {
				color: hsl(31, 77%, 52%);
			}

			&-text:hover {
				background-color: hsl(31, 77%, 52%);
			}
		}
	}

	&__second {
		background-color: hsl(184, 100%, 22%);

		&-btn {
			&-text {
				color: hsl(184, 100%, 22%);
			}

			&-text:hover {
				background-color: hsl(184, 100%, 22%);
			}
		}
	}

	&__third {
		background-color: hsl(179, 100%, 13%);

		&-btn {
			&-text {
				color: hsl(179, 100%, 13%);
			}

			&-text:hover {
				background-color: hsl(179, 100%, 13%);
			}
		}
	}

	&__first,
	&__second,
	&__third {
		width: 33.3%;
		padding-left: 77rem;
		padding-right: 45rem;

		&-icon {
			padding-top: 90rem;

			img {
				padding-left: 12rem;
				scale: 1.5;
			}
		}

		&-text {
			&-headline {
				font-size: 56px;
				padding-top: 56rem;
				text-transform: uppercase;
				font-family: 'Big Shoulders Display', cursive;
			}

			&-info {
				padding-top: 58rem;
				font-size: 24px;
				line-height: 35rem;
				letter-spacing: 1rem;
			}
		}

		&-btn {
			padding-top: 90rem;

			&-text {
				width: 240rem;
				height: 72rem;
				font-size: 24px;
				font-family: 'Lexend Deca', sans-serif;
				font-weight: 400;
				background-color: white;
				border-radius: 50em;
				border: none;
				transition: background-color 0.5s;
				cursor: pointer;
			}

			&-text:hover {
				border: 3px solid white;
				color: white;
			}
		}
	}
}

@media (max-width: 576px) {

	.card {
		flex-direction: column;
		width: 90vw;
		height: auto;
		margin: 20rem 0 20rem 0;
		
		&__first,
		&__second,
		&__third {
			width: 90vw;
			padding-left: 16%;
			padding-right: 16%;

			&-icon {
				padding-top: 60rem;

				img {
					padding-left: 0;
					scale: 1;
				}
			}

			&-text {
				&-headline {
					font-size: 42px;
				}

				&-info {
					padding-top: 30rem;
					font-size: 14px;
					line-height: 30rem;
				}
			}

			&-btn {
				padding-top: 40rem;
				padding-bottom: 50rem;

				&-text {
					width: 160rem;
					height: 48rem;
					font-size: 15px;
				}
			}
		}
	}
}
